body {
    padding: 10px;
    overflow-x: scroll;
     overflow-y: scroll; /* Allow horizontal scrolling */
    /* Show scrollbar if scrolling is possible */
    scrollbar-width: thin; /* For modern browsers */
    scrollbar-color: #888 #f0f0f0; /* scrollbar and scrollbar track colors */
}

/* For WebKit browsers like Chrome and Safari */
::-webkit-scrollbar {
    height: 12px; /* height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #f0f0f0; /* creates padding around scroll thumb */
}

.MathJax_Display {
    overflow-x: scroll; /* Allow horizontal scrolling for block equations */
    white-space: nowrap; /* Prevents the equations from wrapping */
}

/* Optional: Adjust the scale of the equations if they are too large or small */
#MathJax-Element {
    font-size: 110%;
}

/* This is to ensure images within MathJax equations scale properly and don't cause overflow */
.MathJax_SVG_Display, .MathJax_SVG {
    max-width: 100%;
}
